
.quiz {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 20;
	gap: 50px;
	padding: 15px;
	text-align: center;
}

.quiz h2 {
	font-size: 35px;
}

.choose__level {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.choose__level a {
	height: 50px;
    width: 330px;
    cursor: pointer;
    background-color: #9837E2;
    border: none;
    border-radius: 10px;
    font-size: 18px;
	text-decoration: none;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.choose__level a:nth-child(1) {
	background-color: rgba(40, 250, 40, 0.684);
}
.choose__level a:nth-child(2) {
	background-color: rgba(250, 250, 40, 0.684);
}
.choose__level a:nth-child(3) {
	background-color: rgba(250, 40, 40, 0.684);
}
