.circle {
  position: fixed;
  width: 100%;
  height: 40vh;
  bottom: 0;
  background-color: #392E70;
  border-top-left-radius: 90%;
  border-top-right-radius: 90%;
  z-index: 0;
  pointer-events: none;
}

.book {
	position: fixed;
	z-index: 0;
	top: 140px;
	left: 50px;
	width: 120px;
	height: 120px;
	transform: rotate(30deg);
	filter: brightness(50%);
	opacity: .6;
}
.lamp {
	position: fixed;
	z-index: 0;
	bottom: 8%;
	right: 27%;
	width: 120px;
	height: 140px;
	transform: rotate(30deg);
	opacity: .6;
}
.hat {
	position: fixed;
	z-index: 0;
	top: 55%;
	left: 20%;
	width: 120px;
	height: 120px;
	transform: rotate(30deg);
	filter: brightness(50%);
	opacity: .6;
}
.circule {
	position: fixed;
	z-index: 0;
	top: 15%;
	right: 30%;
	width: 120px;
	height: 120px;
	transform: rotate(30deg);
	filter: brightness(50%);
	opacity: .6;
}

/* АДАПТИВ */ /* АДАПТИВ */ /* АДАПТИВ */ /* АДАПТИВ */ /* АДАПТИВ */

@media (max-width: 500px) {
	.circule {
		top: 15%;
		right: -10px;
	}
	.book {
		top: 140px;
		left: 10px;
	}
	.hat {
		top: 48%;
		left: 30%;
	}
	.lamp {
		bottom: 3%;
		right: 7%;
	}
}
