
.wrapper__quiz {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	text-align: center;
}

.progress {
	height: 20px;
	background-color: rgb(221, 0, 255);
	transition: 1s all ease;
	border-top-left-radius: 20px;
	/* margin: -10px 0px 20px -10px; */
}

.container__quiz {
	width: 600px;
	height: 500px;
	z-index: 150;
	background-color: #5339ff;
	border-radius: 15px;
	box-shadow: 1px 1px 5px rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
}

.qustions__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 100px;
		padding: 10px;
}

.questions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.container__quiz h2 {
	font-size: 30px;
}

.questions span {
	width: 100%;
	background-color: rgb(82, 134, 255);
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s all ease;
	text-align: center;
}
.questions span:hover {
	transition: 0.5s all ease;
	background-color: rgb(252, 33, 234);
}

.timer {
	margin-top: 10px;
	font-size: 20px;
}
