* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #6757FF;
}

.app {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.circle {
  position: fixed;
  width: 100%;
  height: 40vh;
  bottom: 0;
  background-color: #392E70;
  border-top-left-radius: 90%;
  border-top-right-radius: 90%;
  z-index: 0;
  pointer-events: none;
}
