.hints {
    width: 135px;
    height: 93px;
    background-color: #7baeffce;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 50px;
    font-size: 12px;
    text-align: center;
    margin: 10px;
}

.hints button {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border: 1px solid #cb2eff;
    cursor: pointer;
    background-color: unset;
    font-size: 30px;
    color: rgb(239, 61, 255);
}

/* АДАПТИВ */ /* АДАПТИВ */ /* АДАПТИВ */ /* АДАПТИВ */ /* АДАПТИВ */

@media (max-width: 955px) {
	.hints {
		position: absolute;
		top: 10px;
		left: 10px;
	}
}

@media (max-width: 700px) {
	.hints {
		position: relative;
		top: 0px;
		left: 0px;
	}
}
